@page
@model ContosoUniversity.Pages.Stages.IndexModel

@{
    ViewData["Title"] = "Stages";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Stage[0].StageID)
            </th>

            <!-- <th>
                @Html.DisplayNameFor(model => model.Stage[0].Stagiaire)
            </th> -->

            <th>
                @Html.DisplayNameFor(model => model.Stage[0].Encadrant)
            </th>

            <th>
               Encadrant ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stage[0].sujet)
            </th>
            <th>
                Etat Candidature
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Stage) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StageID)
            </td>
            <!-- <td>
                @Html.DisplayFor(modelItem => item.Stagiaire.FullName)
            </td> -->
            <td>


                @Html.DisplayFor(modelItem => item.Encadrant.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnseignantID)
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sujet)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.SignatureValidation)
            </td>

            <td>
                <a asp-page="./Edit" asp-route-id="@item.StageID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.StageID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.StageID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
